@import "../component/styles/card-component.css";

/* 카드 레이아웃 */
.container {
  display: grid;
  gap: 0.75rem;
  /* grid-template-areas:
    "ipad-pro" "ipad-air" "iphone-15-pro" "iphone-15" "watch"
    "macbook-air" "airpods-pro"; */

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    /* grid-template-areas:
      "ipad-pro ipad-pro" "ipad-air ipad-air" "iphone-15-pro iphone-15-pro" "iphone-15 watch"
      "macbook-air airpods-pro"; */
  }
}

.card {
  grid-column: 1 / -1;

  .copy {
    margin: auto 0 1.25rem;

    .subhead {
      font-weight: 600;
      font-size: 1.5rem;
      background: linear-gradient(94deg, #0090f7, #ba62fc, #f2416b, #f55600);
      background-clip: text;
      color: transparent;
    }

    .info {
      font-size: 0.875rem;
    }
  }

  @media (min-width: 1024px) {
    /* 라인 기반 그리드 */
    &.iphone-15,
    &.macbook-air {
      grid-column: 1;
    }
    &.watch,
    &.airpods-pro {
      grid-column: 2;
    }
  }

  /* 네임 기반 그리드 */
  /* &.ipad-pro {
    grid-area: ipad-pro;
  }
  &.ipad-air {
    grid-area: ipad-air;
  }
  &.iphone-15-pro {
    grid-area: iphone-15-pro;
  }
  &.iphone-15 {
    grid-area: iphone-15;
  }
  &.watch {
    grid-area: watch;
  }
  &.macbook-air {
    grid-area: macbook-air;
  }
  &.airpods-pro {
    grid-area: airpods-pro;
  } */

  &.ipad-pro {
    background-image: image-set(
      url(../products/ipad_pro.jpeg) 1x,
      url(../products/ipad_pro_2x.jpeg) 2x
    );

    @media (min-width: 1024px) {
      background-image: image-set(
        url(../products/ipad_pro_wide.jpeg) 1x,
        url(../products/ipad_pro_wide_2x.jpeg) 2x
      );
    }
  }

  &.ipad-air {
    background-image: image-set(
      url(../products/ipad_air.jpeg) 1x,
      url(../products/ipad_air_2x.jpeg) 2x
    );

    @media (min-width: 1024px) {
      background-image: image-set(
        url(../products/ipad_air_wide.jpeg) 1x,
        url(../products/ipad_air_wide_2x.jpeg) 2x
      );
    }
  }

  &.iphone-15-pro {
    background-image: image-set(
      url(../products/iphone15_pro.jpeg) 1x,
      url(../products/iphone15_pro_2x.jpeg) 2x
    );

    @media (min-width: 1024px) {
      background-image: image-set(
        url(../products/iphone15_pro_wide.jpeg) 1x,
        url(../products/iphone15_pro_wide_2x.jpeg) 2x
      );
    }
  }

  &.iphone-15 {
    background-image: url(../products/iphone15.jpeg);

    @media (min-width: 1024px) {
      background-image: url(../products/iphone15_2x.jpeg);
    }
  }

  &.watch {
    background-image: url(../products/apple_watch.jpeg);

    @media (min-width: 1024px) {
      background-image: url(../products/apple_watch_2x.jpeg);
    }
  }

  &.macbook-air {
    background-image: url(../products/macbook_air.jpeg);

    @media (min-width: 1024px) {
      background-image: url(../products/macbook_air_2x.jpeg);
    }
  }

  &.airpods-pro {
    background-image: url(../products/airpods_pro.jpeg);

    @media (min-width: 1024px) {
      background-image: url(../products/airpods_pro_2x.jpeg);
    }
  }
}
