<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>체크박스 컴포넌트</title>
    <link
      rel="shortcut icon"
      href="/src/assets/favicon/likelion.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="/src/assets/favicon/likelion.svg" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css"
    />
    <link rel="stylesheet" href="/src/login/components/checkbox/checkbox.css" />
  </head>
  <body>
    <div class="checkbox-wrap">
      <input type="checkbox" id="checkbox" name="checkbox" /><label
        for="checkbox"
      >
        로그인 상태 유지</label
      >
    </div>
  </body>
</html>
