<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>버튼 컴포넌트</title>
    <link rel="icon" href="./favicon/apple-favicon.svg" />
    <link rel="apple-touch-icon" href="./favicon/apple-favicon.svg" />
    <link
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles/button.css" />
  </head>
  <body>
    <!-- 기본 버튼 -->
    <a href="/" rel="noopener noreferrer" class="btn btn-primary">기본 버튼</a>

    <!-- 기본 아웃라인 버튼 -->
    <a href="/" rel="noopener noreferrer" class="btn btn-primary btn-outline"
      >기본 아웃라인 버튼</a
    >

    <!-- 검정 버튼 -->
    <a href="/" rel="noopener noreferrer" class="btn btn-basic">검정 버튼</a>

    <!-- 검정 아웃라인 버튼 -->
    <a href="/" rel="noopener noreferrer" class="btn btn-basic btn-outline"
      >검정 아웃라인 버튼</a
    >
  </body>
</html>
