<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apple Card Component</title>
    <link rel="icon" href="./favicon/apple-favicon.svg" />
    <link rel="apple-touch-icon" href="./favicon/apple-favicon.svg" />
    <link
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles/card-component.css" />
  </head>
  <body>
    <!-- 카드 컴포넌트 -->
    <section class="card ipad-pro">
      <h2 class="head head-light">제목</h2>
      <p class="subhead head-light">부제목</p>
      <p class="info">설명</p>

      <div class="btn-wrap">
        <a href="/" rel="noopener noreferrer" class="btn btn-primary"
          >더 알아보기</a
        >
        <a
          href="/"
          rel="noopener noreferrer"
          class="btn btn-primary btn-outline"
          >가격 보기</a
        >
      </div>
    </section>
  </body>
</html>
