@import "../../styles/theme.css";
@import "../../styles/reset.css";
@import "../../styles/base.css";

.head {
  --head-text: var(--large-text);
  font-size: var(--head-text);
  font-weight: 600;

  @media (min-width: 1024px) {
    --head-text: var(--extra-large-text);
  }
}

.subhead {
  --subhead-text: var(--base-text);
  font-size: var(--subhead-text);
  line-height: var(--line-normal);
  margin-bottom: var(--x-small-spacing);

  @media (min-width: 1024px) {
    --subhead-text: var(--medium-text);
  }
}

.head,
.subhead {
  --head-color: var(--black);

  color: var(--head-color);

  &.head-light {
    --head-color: var(--white);
  }
}

.info {
  --info-text: var(--small-text);
  font-size: var(--info-text);
  color: var(--gray);
}
