@import url(../../common/modern-reset.css);
@import url(../../common/a11y.css);

:root {
  --primary-color: #03cf5d;
  --danger-color: #ff1414;
  --border-color: #dadada;
  --text-color: #121212;
  --light-gray-color: #999999;
  --focus-color: #24388d;
  --white-color: #fff;

  --text-size: 16px;
  --text-regular: 400;
  --text-bold: 700;
}

html {
  font-size: var(--text-size);
}

body * {
  font-weight: 400;
  color: var(--text-color);
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

a {
  text-decoration: none;
}

.btn {
  width: 100%;
  height: 45px;
  background: var(--primary-color);
  color: var(--white-color);
  border: 0;
  margin-bottom: 0.625rem;
  align-content: center;
  font-weight: var(--text-bold);
}

.wrap {
  height: 100vh;
  display: flex;
  align-items: center;
}
.login-wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0.9375rem;
  *:focus {
    outline: 2px solid var(--focus-color);
  }
  .logo {
    width: 230px;
    margin: 0 auto 2.8125rem auto;
  }
  .login-form {
    fieldset {
      border: 0;
      padding: 0;
    }
    .login-input-wrap {
      .login-input {
        width: 100%;
        height: 45px;
        border: 1px solid var(--border-color);
        padding: 0.875rem;
        margin-bottom: 0.4375rem;
        font-size: 0.875rem;
        background: var(--white-color);
        &:focus {
          outline: 1px solid var(--primary-color);
          background: #e9f0fd;
        }
        &:user-invalid + .error {
          display: block;
        }
        &::placeholder {
          color: var(--light-gray-color);
        }
      }
      .error {
        display: none;
        color: var(--danger-color);
        font-size: 0.75rem;
      }
      &:last-of-type {
        margin: 0.625rem 0 1.25rem 0;
      }
    }
  }
  .status {
    display: flex;
    justify-content: end;
    align-items: center;
    .login-status {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      input {
        width: 24px;
        height: 24px;
        appearance: none;
        margin: 0;
        cursor: pointer;
        background: url(../images/checkbox_unchecked.svg) no-repeat center;
        &:checked {
          background: url(../images/checkbox_checked.svg) no-repeat center;
        }
      }
      label {
        font-size: 0.875rem;
      }
    }
    .security-status {
      display: none;
      font-size: var(--text-size);
      a {
        margin-left: 0.5rem;
      }
      .text-btn {
        width: auto;
        height: auto;
        margin-bottom: 0;
        background: transparent;
        color: var(--light-gray-color);
        padding: 0;
        &.active {
          color: var(--primary-color);
        }
      }
    }
  }

  @media screen and (min-width: 769px) {
    width: 500px;
    .status {
      justify-content: space-between;
      .security-status {
        display: block;
      }
    }
  }
}
